:root{
    --light-gray: #f1f1f1;
    --gray: #f1f1f1;
    --white: #fff;
    --shadow: #888888;
    --lighter-gray: #f3f3f3;
    --blue: #93cbff;
    --dark-blue: #4b84ff;
    --active-blue: #6596ff;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}

.bg{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
}

.app-container{
    width: 600px;
    height: fit-content;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--shadow);
    padding: 20px;
    box-sizing: border-box;
}

.app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.question-counter{
    color: var(--shadow);
    font-size: small;
}

.question-tittle{
    font-size: x-large;
    font-weight: 500;
}

.question-options-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.question-option{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    background-color: var(--lighter-gray);
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.question-option:hover{
    scale: 1.01;
}

.question-option:active{
    scale: 0.99;
}

.question-option-selected{
    background-color: var(--blue);
    font-weight: 500;
    border: 1px solid var(--dark-blue);
}

.footer{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
}

.error-message{
    font-size: small;
    color: red;
    font-weight: 500;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--blue);
    border-radius: 5px;
    padding: 5px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 200ms;
    font-weight: 500;
}

button:hover{
    scale: 1.03;
}

button:active{
    scale: 0.99;
    background-color: var(--active-blue);
}