:root{
    --light-gray: #f3f3f3;
    --white: #fff;
    --gray: #969696;
    --border-gray: #e6e6e6;
    --blue: #327aff;
    --hover-blue: #246bf0;
    --active-blue: #1856c9;
}

body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg{
    width: 100%;
    height: 100vh;
    background-color: var(--light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container{
    width: 70%;
    max-width: 500px;
    height: 30%;
    background-color: var(--white);
    box-shadow: 10px 10px 10px var(--gray);
    border: 1px solid var(--border-gray);
    border-radius: 10px;
}

.app{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

blockquote{
    font-size: large;
    font-style: italic;
}

span{
    font-size: small;
    font-weight: 600;
}

button{
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    transition-duration: 300ms;
}

.active{
    background-color: var(--blue);
}

.active:hover{
    scale: 1.05;
    background-color: var(--hover-blue);
}

.active:active{
    background-color: var(--active-blue);
    scale: 0.99;
}

.disabled{
    background-color: var(--gray);
    cursor: not-allowed;
}